{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h1 class="mt-5 mb-4">About This Project</h1>
<p>This project is developed  to predict average temperature based on various environmental factors using a machine learning model.</p>
<p>The model is trained using historical data and is capable of providing temperature predictions for future years based on user inputs.</p>
<p>Team Members:</p>
<ul>
    <li>Member 1</li>
    <li>Member 2</li>
    <li>Member 3</li>
    <li>Member 4</li>
</ul>
{% endblock %}
